---
import ArrowUpRight from "./icons/ArrowUpRight.astro";
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";

interface Props {
  title: string;
  description: string;
  img: {
    url: string;
    alt: string;
  };
  href: string;
  githubUrl: string;
}

const { title, description, img, href, githubUrl } = Astro.props;
---

<div
  class="bg-white rounded-lg ring-1 ring-zinc-900/10 shadow-lg shadow-zinc-100/80"
>
  <div class="group relative">
    <a href="https://thebrewguide.com" class="absolute inset-0">
      <span class="sr-only">Go to {title}</span></a
    >
    <div
      class="absolute top-0 z-10 right-0 translate-x-[calc(50%-0.4rem)] -translate-y-[calc(50%-0.4rem)] bg-zinc-900 h-7 w-7 rounded-full text-white font-medium flex items-center justify-center opacity-0 group-hover:opacity-100 transition ease-in-out"
      aria-hidden="true"
    >
      <ExternalLinkIcon class="h-4 w-4" aria-hidden="true" />
    </div>

    <div class="w-full aspect-[4/3] bg-zinc-100 rounded-t-lg"></div>
    <div class="px-4 pt-4 flex flex-col items-start">
      <h3
        class="text-base font-semibold tracking-tight leading-4 pt-2 pb-[2px] border-b transition ease-in-out border-transparent group-hover:border-zinc-900"
      >
        {title}
      </h3>
      <p class="mt-2 text-sm text-zinc-600">
        {description}
      </p>
    </div>
  </div>
  <div class="flex mt-1 w-full space-x-2 p-4">
    <a
      href={href}
      class="bg-zinc-900 opacity-100 hover:opacity-80 transition ease-in-out rounded-md border border-zinc-900 text-sm text-white font-medium py-1.5 flex items-center justify-center basis-1/2"
    >
      <ExternalLinkIcon class="h-4 w-4 mr-2" aria-hidden="true" />
      <span>Visit</span>
    </a>
    <a
      href={githubUrl}
      class="bg-white border border-zinc-900 hover:bg-zinc-50 transition ease-in-out rounded-md text-sm text-zinc-900 font-medium py-1.5 flex items-center justify-center basis-1/2"
    >
      <GithubIcon class="h-5 w-5 mr-2" aria-hidden="true" />
      <span>Github</span>
    </a>
  </div>
</div>
